{% extends 'visitor_layout.html.twig' %}

{% block title %}
	{{ parent() }}
	| Show-Profil
{% endblock %}

{% block body %}
	<main class="container">
		<div class="row m-4 p-4">
			<div class="col-6 m-auto">
				<div class="card border-secondary border-3">
					<div class="card-header bg-secondary text-center p-4">
						<svg class="icon-person-circle" xmlns="http://www.w3.org/2000/svg" width="106" height="106" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
							<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
							<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
						</svg>
					</div>
					<div class="card-body m-2">
						<h1 class="card-title mb-2 text-center">Votre Profil</h1>
						<div class="row mt-5 px-sm-5">
							{% if (app.user and is_granted("ROLE_USER")) %}
								<div class="col-xl-12">
									<div class="input-group mb-3">
										<label for="name" class="input-group-text border border-1 border-dark">Email</label>
										<input class="form-control border border-1 border-dark bg-light" type="text" aria-label="Disabled email" id="name" disabled value="{{ app.user.email }}">
									</div>
								</div>
								<div class="col-xl-12 text-end">
									<div class="mb-3">
										<input class="form-check-input" type="checkbox" type="text" aria-label="Disabled isVerified" id="isVerifiedCpt" {{ (app.user.isVerified == 1 ? 'checked' : '') }} disabled>
										<label class="form-check-label" for="isVerifiedCpt">
											Compte vérifié
										</label>
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}