{% extends 'admin_layout.html.twig' %}
{% block title %}
	{{ parent() }}
	Édition-Catégorie
{% endblock %}
{% block admin_content_title %}Édition de la catégorie
{% endblock %}
{% block admin_content %}
	{{ include('category/_form.html.twig', {'button_label': 'Modifier'}) }}
	<div class="row d-flex">
		<div class="col d-flex align-items-center justify-content-between me-4">
			<a class="text-light text-nowrap m-2 px-3" href="{{ path('app_category_index') }}">Retour</a>
			{{ include('category/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}