{% extends 'admin_layout.html.twig' %}
{% block title %}
	{{ parent() }}
	Création-Catégorie
{% endblock %}
{% block admin_content_title %}Création d'une catégorie
{% endblock %}
{% block admin_content %}
	{{ include('category/_form.html.twig') }}
	<div class="row d-flex">
		<div class="col d-flex align-items-center justify-content-between me-4">
			<a class="text-light text-nowrap m-2 px-3" href="{{ path('app_category_index') }}">Retour</a>
		</div>
	</div>
{% endblock %}