{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Catégorie-New
{% endblock %}

{% block body %}
	<h1>Nouvelle Catégorie</h1>
	{{ include('category/_form.html.twig') }}
	<div class="row d-flex">
		<div class="col d-flex align-items-center justify-content-end me-4">
			<a class="text-dark fw-bold px-4 fs-3" href="{{ path('app_category_index') }}">Retour</a>
		</div>
	</div>
{% endblock %}