{% extends 'admin_layout.html.twig' %}
{% block title %}
	{{ parent() }}
	Édition-Épisode
{% endblock %}
{% block admin_content_title %}Édition d'un épisode
{% endblock %}
{% block admin_content %}
	{{ include('episode/_form.html.twig', {'button_label': 'Modifier'}) }}
	<div class="row d-flex">
		<div class="col d-flex align-items-center justify-content-between me-4">
			<a class="text-light text-nowrap m-2 px-3" href="{{ path('app_episode_index') }}">Retour</a>
			{{ include('episode/_delete_form.html.twig') }}
		</div>
	</div>
{% endblock %}