{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	| Home
{% endblock %}
{% block body %}
	<section id="hero" class="m-0 p-0">
		<div class="hero-container">
			<h1 class="fs-1 fw-bolder bg-body rounded text-dark p-3 text-wrap text-uppercase">
				Bienvenue sur WILD SERIES !
			</h1>
		</div>
	</section>
{% endblock %}