{% extends 'base.html.twig' %}

{% block title %}Modifier-Saison
{% endblock %}

{% block body %}
	<div class="container-fluid p-md-4">
		<h1 class="mb-3 p-2">Modifier La Saison</h1>
		<div class="row d-flex mb-3">
			{{ include('season/_form.html.twig', {'button_label': 'Update'}) }}
		</div>
		<div class="row d-flex">
			<div class="col d-flex align-items-center justify-content-between me-4">
				{{ include('season/_delete_form.html.twig') }}
				<a class="text-dark fw-bold px-4 fs-3" href="{{ path('app_season_index') }}">Retour</a>
			</div>
		</div>
	</div>
{% endblock %}