//start coding by removing this file and adding yours ;)
@import "_themes.scss";
@import "_navbar.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
  color: $primary-light;
  letter-spacing: 2px;
}

body {
  height: 100vh;
  padding-block-start: $navbar-height;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
.comment .card-text {
  max-height: 8vh;
  overflow-y: auto;
}
.comment .card-body {
  min-height: 25vh;
}
